@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Playfair+Display+SC:wght@700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Playfair+Display+SC:wght@700&family=Rock+Salt&family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Elsie+Swash+Caps&family=Playfair+Display+SC:wght@700&family=Rock+Salt&family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald:wght@600;700&family=Source+Serif+Pro:ital,wght@0,400;1,300;1,400&display=swap');

$lightOrange: #ffca08;
$darkOrange: #f57921;
$lightBlue: #acceec;
$darkBlue: #398bd4;
$lightGreen: #53e639;

$lightGrey: #e8e5da;
$darkGrey: #bbaea4;
$lightPurple: #aaa2d8;
$darkPurple: #8e7fb1;
$lightBlue: #6d8394;
$darkBlue2:#c6babd;

$loginBlue: #1d465c;

//APP FONTS
$fontTitle: Rock Salt;
$fontSubTitle: Barlow;
$buttonsFont: Bebas Neue;
$newsTitle: Oswald;

